/data/*

!/data/datasets/YNACC-Evaluation/dev/.gitkeep
!/data/datasets/YNACC-Evaluation/train/.gitkeep
!/data/datasets/YNACC-Evaluation/test/.gitkeep

nltk/*
figures/*.png

.idea
venv

**/__pycache__

feature/cache/*.pickle
feature/cache/doc2vec*
feature/cache/*vectorizer*

model/word2vec/GoogleNews-vectors-negative300.bin
model/word2vec/all_lowercased_stemmed_*
feature/cache/topicmodel*
feature/cache/topicmodel_dict

preprocessing/dataset_ynacc.ipynb
*.csv

*.pickle
